<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>人脸融合demo</title>
    <style>
        img {
            vertical-align: middle;
        }
        .clearfix:after {
            content: "";
            display: table;
            clear: both;
        }
        .nav {
            margin-bottom: 50px;
        }
        .img-container {
            position: relative;
            /* display: inline-block; */
            width: 300px;
            margin: 20px auto;
        }
        .img-container img {
            width: 100%;
        }
        ul.star-list {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        ul.star-list li {
            float: left;
            width: 50%;
            box-sizing: border-box;
        }

        ul.star-list li.selected {
            border: 2px solid #ffd600;
        }
        
        ul.star-list li img {
            width: 100%;
        }

        img.img-result {
            width: 100%;
        }
        
    </style>
</head>
<body>
    <div class="nav">
        <a href="./index.html">人脸识别</a>
        <a href="./merge.html">人脸融合</a>
    </div>
    <div id="app">
        <h1>人脸融合</h1>
        <h2>Step 1. 选择一个明星模板</h2>
        <ul class="star-list clearfix">
            <li v-for="(star, index) in starList" v-bind:class="star.selected ? 'selected' : ''" @click="selectStar(index)">
                <img v-bind:src="star.imgUrl" alt="">
                <div class="name">{{star.name}}</div>
            </li>
        </ul>
        <h2>Step 2. 选一张你自己的照片</h2>
        <input type="file" @change="onChange" accept="image/png, image/jpeg">
        <div class="img-container" id="img-container">
            <img v-bind:src="imgInfo.imgBase64" alt="" class="img-preview">
        </div>

        <div class="loading" v-if="loading">正在上传图片...请稍后</div>
        
        <h2>Step 3. 合成</h2>
        <img v-bind:src="mergeResultBase64" alt="" v-if="mergeResultBase64" class="img-result">
    </div>
    <script src="./jquery.min.js"></script>
    <script src="./vue.js"></script>
    <script src="./compressor.min.js"></script>
    <script>
        
        var vm = new Vue({
            el: '#app',
            data: {
                imgInfo: {
                    imgBase64: '',
                    oriWidth: 0,
                    oriHeight: 0
                },
                starList: [
                    {
                        name: '杨过',
                        imgUrl: 'https://ss2.meipian.me/yangguo.jpeg',
                        template_rectangle: '133,157,90,90',
                        selected: true
                    },
                    {
                        name: '乔峰',
                        imgUrl: 'https://ss2.meipian.me/qiaofeng.jpeg',
                        template_rectangle: '46,57,133,133',
                    },
                    {
                        name: '鹰眼',
                        imgUrl: 'https://ss2.meipian.me/yingyan.jpg',
                        template_rectangle: '52,136,66,66',
                    },
                    {
                        name: '精灵王子',
                        imgUrl: 'https://ss2.meipian.me/jinglingwangzi.jpeg',
                        template_rectangle: '201,372,319,319',
                    },
                    {
                        name: '索尔',
                        imgUrl: 'https://ss2.meipian.me/suoer.jpeg',
                        template_rectangle: '48,288,44,44',
                    },
                    {
                        name: '洛基',
                        imgUrl: 'https://ss2.meipian.me/luoji.jpeg',
                        template_rectangle: '61,220,104,104',
                    },
                    {
                        name: '美国队长',
                        imgUrl: 'https://ss2.meipian.me/meiguoduizhang.jpeg',
                        template_rectangle: '95,145,82,82',
                    },
                    {
                        name: '黑寡妇',
                        imgUrl: 'https://ss2.meipian.me/heiguafu.jpeg',
                        template_rectangle: '79,203,90,90',
                    },
                ],
                mergeResultBase64: '',
                loading: false
            },
            // created: function() {
            //     this.detectImg('https://ss2.meipian.me/heiguafu.jpeg');
            // },
            methods: {
                selectStar: function(index) {
                    this.starList.forEach(function(star) {
                        star.selected = false;
                    });
                    var oldObj = this.starList[index];
                    oldObj.selected = true;
                    vm.$set(vm.starList, index, oldObj);
                },

                // detectImg: function (imgUrl) {
                //     let url = 'https://api-cn.faceplusplus.com/facepp/v3/detect';
                //     let data = new FormData();
                //     data.append('api_key', "jnQLiPG-tf_gV8GR7BbdTH7_aDNH01UN");
                //     data.append('api_secret', "QtsWoPaWN4OI8d_akkgqIt1WFkMgesXc");
                //     data.append('image_url', imgUrl);
                //     $.ajax({
                //         url: url,
                //         type: 'POST',
                //         data: data,
                //         cache: false,
                //         processData: false,
                //         contentType: false,
                //         success(data) {
                //             console.log('DATAA')
                //             console.log(data)
                //         },
                //         error(jqXHR, textStatus, errorThrown) {
                //             alert('图片太大！')
                //         }
                //     })
                // },
                
                onChange: function(e) {
                    var f = e.target.files[0];
                    console.log('f...')
                    console.log(f);
                    var self = this;
                    if (!f) {
                        return
                    }
                    if (f.size > 1000000) {
                        // 压缩图片
                        new Compressor(f, {
                            quality: 0.6,
                            maxWidth: 1000,
                            // checkOrientation: false,
                            success(result) {
                                console.log('result...')
                                console.log(result)
                                self.dealFile(result);
                            },
                            error(err) {
                                alert(err.message);
                            },
                        });
                    } else {
                        this.dealFile(f);
                    }
                },

                dealFile: function(f) {
                    var r = new FileReader();
                    r.readAsDataURL(f);
                    var self = this;
                    r.onload = function (e) {
                        self.imgInfo.imgBase64 = e.target.result;
                        var img = new Image();
                        img.onload = function () {
                            self.imgInfo.oriWidth = img.width;
                            self.imgInfo.oriHeight = img.height;
                        }
                        img.src = self.imgInfo.imgBase64;
                        self.mergeImg(f);
                    }
                },

                selectedImgObj: function() {
                    return this.starList.find(function(el) {
                        return el.selected
                    })
                },

                mergeImg: function(f) {
                    this.loading = true;
                    let url = 'https://api-cn.faceplusplus.com/imagepp/v1/mergeface';
                    let data = new FormData();
                    data.append('api_key', "jnQLiPG-tf_gV8GR7BbdTH7_aDNH01UN");
                    data.append('api_secret', "QtsWoPaWN4OI8d_akkgqIt1WFkMgesXc");
                    data.append('template_url', this.selectedImgObj().imgUrl);
                    data.append('template_rectangle', this.selectedImgObj().template_rectangle);
                    data.append('merge_file', f);
                    data.append('merge_rate', 90);
                    var self = this;
                    $.ajax({
                        url: url,
                        type: 'POST',
                        data: data,
                        cache: false,
                        processData: false,
                        contentType: false,
                        success(data) {
                            console.log('success....')
                            self.loading = false;
                            console.log('merge Return')
                            console.log(data)
                            self.displayResultImg(data.result)
                        },
                        error(jqXHR, textStatus, errorThrown) {
                            self.loading = false;
                            alert('出错啦！')
                        }
                    })
                },

                displayResultImg: function(mergeResultBase64) {
                    this.mergeResultBase64 = 'data:image/jpg;base64,' + mergeResultBase64
                }
            }
        })
    </script>
</body>
</html>