extends ../../common/layout.jade

block css_append
    link(rel="stylesheet", href="/static/css/page/demo/index.css")

block title
    | 测试页面
block body
    .test-area
        |测试
    .main-container#nice-container
block js_append
    script.
        require(['page/demo/index'], function(app) {
            app();
        });