.delay0d25s {
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s;
}
.delay0d5s {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.delay0d75s {
  -webkit-animation-delay: 0.75s;
  animation-delay: 0.75s;
}
.delay1s {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.delay1d25s {
  -webkit-animation-delay: 1.25s;
  animation-delay: 1.25s;
}
.delay1d5s {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}
.delay1d75s {
  -webkit-animation-delay: 1.75s;
  animation-delay: 1.75s;
}
.delay2s {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}
.delay2d25s {
  -webkit-animation-delay: 2.25s;
  animation-delay: 2.25s;
}
.delay2d5s {
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
}
.delay2d75s {
  -webkit-animation-delay: 2.75s;
  animation-delay: 2.75s;
}
.delay3s {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}
.delay3d25s {
  -webkit-animation-delay: 3.25s;
  animation-delay: 3.25s;
}
.delay3d5s {
  -webkit-animation-delay: 3.5s;
  animation-delay: 3.5s;
}
.delay3d75s {
  -webkit-animation-delay: 3.75s;
  animation-delay: 3.75s;
}
.delay4s {
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}
.delay5s {
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}
