
// color 颜色自定义
$appBgColor = #ededed
$mainColor = #ffd600
$whiteColor = #fff
$blackColor = #000

$grayDarkColor = #333
$grayColor = #666
$grayLightColor = #999

$wechatColor = #75d024
$qqColor = #0592d4
$weiboColor = #da372a

// path
$imgCorePath = '/webapp-static/images/'
$cdnPath = 'http://img01.oneniceapp.com/images/'