@import './import'
@import '../lib/iconfont/style.css'

.icon
    margin-right 5px

.icon-loading-single
    display inline-block
    vertical-align middle
    fun-bg(40px, 40px, 'icon/icon_loading_single')
    animation: rotate 1s linear infinite
.icon-loading
    display inline-block
    vertical-align middle
    animation: loading .5s infinite ease-in-out
    fun-size( 96px, 36px )
    fun-bg-size( 96px, 36px )


.icon-images
    display inline-block
    fun-bg(22px, 22px, 'icon/icon_images')

.icon-praise
    display inline-block
    vertical-align middle
    margin-right 5px
    fun-bg(20px, 22px, '/icon/icon_praise')

.icon-unpraise
    display inline-block
    vertical-align middle
    margin-right 5px
    fun-bg(20px, 22px, '/icon/icon_unpraise')

.icon-verify
    display inline-block
    vertical-align middle
    fun-bg(24px, 24px, '/icon/icon_verify')

.icon-logo-normal .path1:before
    color $mainColor


// sns
.icon-qq
    color $qqColor
.icon-weibo
    color $weiboColor
.icon-wechat
    color $wechatColor

@keyframes rotate
    from
        transform:rotate(0deg)
    to
        -webkit-transform:rotate(360deg)
@keyframes loading
    0%
        fun-bg-img('icon/icon_loading1')
    25%
        fun-bg-img('icon/icon_loading2')
    50%
        fun-bg-img('icon/icon_loading3')
    75%
        fun-bg-img('icon/icon_loading4')
    100%
        fun-bg-img('icon/icon_loading5')