@import "./import"
@import "../lib/normalize.css/normalize.css"
@import "./reset"
@import "./animate"
@import "./icon"

body
    background #ffd600
    min-width 320px
.hide
    display none

.clearfix
    clearfix()

.item
    text-align left
    clearfix()
    .pic
        float left
        margin-right 10px
    .info
        overflow hidden

.bd-rs-normal
    border-radius 2px
