@import './const'


// 自定义函数
fun-bg-img( $file, $suffix = '.png' )
    background-image url( $imgCorePath + $file + $suffix )
    background-repeat no-repeat

fun-cdn-bg-img( $file, $suffix = '.png' )
    background-image url( $cdnPath + $file + $suffix )
    background-repeat no-repeat

fun-line-height()
    height: arguments
    line-height: arguments

fun-size($w, $h)
    size($w/2, $h/2)

fun-bg-size($w, $h)
    background-size: ( $w/2 ) ( $h/2 )

fun-bg($w, $h, $img, $suffix = '.png')
    fun-bg-img( $img, $suffix )
    fun-size( $w, $h )
    fun-bg-size( $w, $h )

fun-absolute-center()
    absolute(top 50% left 50%)

fun-width-scale($w, $sceenW = 640)
    width ($w/$sceenW*100)%

fun-rem(val)
    u = unit(val)
    if (u is 'px') {
        return unit(val/(320*2/26.666666666666668), 'rem')
    } else {
        return unit(val, u)
    }

fun-size-rem()
    if length(arguments) == 1
        size(fun-rem(arguments[0]))
    else
        size(fun-rem(arguments[0]) fun-rem(arguments[1]))