@import "../../core/import"
@import "../../core/const"

body
    background-color #fff
    padding-top 50px
.test-area
    font-size 2rem
    border-bottom 0.08rem solid #ccc
.product-list
    width: 50%;
    position: relative;
    overflow: hidden;
    float left
    box-sizing border-box
    &:nth-child(2n-1)
        padding 2px 2px 2px 0
    &:nth-child(2n)
        padding 2px 0 2px 2px
    .item
        width: 100%;
        img
            width: 100%;
            display: block;
            border-bottom 1px solid #e6e6e6
            min-height 100px
    .want
        right: 12.5px;
        bottom: 12.5px;
        position: absolute;

    .header
        background-color #fff
        height 40px
        line-height 40px
        padding 0 7px
        position relative
        .user
            font-size: 12px;
            color: #3b3b3b;
            display block
            padding-left 30px
            img
                absolute(top 7px left 7px)
                width 25px
                border-radius: 50%;
    .today
        absolute(top 48px)
        fun-bg(49px, 21px, 'product/JINRIGENGXIN')
        background-size 49px 21px

    .name
        height 54px
        overflow hidden
        background-color #fff
        .title
            margin 10px 10px 0px
            font-size: 13px;
            font-weight: bold;
        .money
            color: #fb9b00;
            font-size: 14px;
            font-weight: bold;
            margin-left 8px
            vertical-align middle
            &.soldout
                font-size 12px
                color #ccc
                margin-left 10px
        .reference_price
            font-size 12px
            margin-left 10px
            vertical-align middle
            color #999
        .timestamp
            padding: 5px 0px 5px 18px;
            margin-bottom: 10px;
            color: #3b3b3b;
            font-size: 12px;
            vertical-align: top;
        .status-1
            background: #ffd600;
        .clock
            float: left;
            fun-bg(12.5px, 12.5px, 'product/clock1@2x')
            background-size: 100%;
            margin: 2px 5px 0 0;
